//----- .variables -----//

// .color
$color__bg: #FFFFFF;
$color__text: #000000;
$color__pale: #F5F5F5;
$color__main: #CC3B1F;
$color__link: #3498DB;
$color__success--text: #96C268;
$color__success--bg: #EFF5E8;
$color__error--text: #F08D82;
$color__error--bg: #F8E7E4;
$color__alert--bg: #FFC312;

// .font
$font__family--main: 'Open Sans',
Arial,
Helvetica,
sans-serif;
$font__size--normal: 14px;

//----- #variables -----//