//----- .card-params -----//
.card-params {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -16px;

  &__item {
    min-width: 30%;
    padding-right: 30px;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 12px;
    color: fade-out(#000000, 0.6);
    margin-bottom: 4px;
  }

  &__info {
    font-weight: 700;
  }
}

//----- #card-params -----//